<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>O'zvagonta'mir</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm col-md col-lg container justify-content-center card">
				<hr>
				<div class="container bg-yellow d-flex justify-content-center text-black">
					<h1 >Tahrirlash</h1>
				</div>
				<hr>
				<form th:action="@{/vagons/updateTayyorUty/{id} (id=${vagon.id})}" th:object="${vagon}" method="POST">
					<div class="row">
						<div class="form-group col">
							<label>Nomeri</label>
							<input name="nomer" type="number" min="1" th:field="*{nomer}" class="form-control"
								placeholder="vagon nomerini kiriting" />
						</div>
						<div class="form-group col">
						  <label for="turi">Ta'mir turi</label>
						  <select class="form-control" th:field="*{remontTuri}" id="turi">
						     <option th:value="'Depoli ta’mir(ДР)'">Depoli ta’mir (ДР)</option>
						    <option th:value="'Kapital ta’mir(КР)'">Kapital ta’mir (КР)</option>
						    <option th:value="'KRP(КРП)'">KRP (КРП)</option>
						  </select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col">
							<label>Ishlab chiqarilgan yili</label>
							<input name="yili" type="number" min="1950" max="2099" step="1" value="2022" th:field="*{ishlabChiqarilganYili}" class="form-control"
								placeholder="ishlab chiqarilgan yilini kiriting" />
						</div>									
						<div class="form-group col">
						  <label for="sel1">VCHD</label>
						  <select class="form-control" th:field="*{depoNomi}" id="sel1">
							<option th:value="'VCHD-3'">VCHD-3</option>
							<option th:value="'VCHD-5'">VCHD-5</option>
							<option th:value="'VCHD-6'">VCHD-6</option>
						  </select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col">
							<label>Ta'mirdan chiqgan vaqti</label>
							<input name="chiqishi" type="date" th:field="*{chiqganVaqti}" class="form-control"/>
						</div>					
						<div class="form-group col">
						  <label for="vagonTur">Vagon turi</label>
						  <select class="form-control" th:field="*{vagonTuri}" id="vagonTur">
						     <option th:value="'Yopiq vagon (крыт)'">Yopiq vagon (крыт)</option>
						    <option th:value="'Platforma(пф)'">Platforma(пф)</option>
						    <option th:value="'Yarim ochiq vagon(пв)'">Yarim ochiq vagon(пв)</option>
						    <option th:value="'Sisterna(цс)'">Sisterna(цс)</option>
						    <option th:value="'Boshqa turdagi(проч)'">Boshqa turdagi(проч)</option>
						  </select>
						</div>				
					</div>	
					<div class="row">	
						<div class="form-group col">
							<label>Izoh</label>
							<input name="izoh" type="String" th:field="*{izoh}" class="form-control"
								placeholder="izoh kiritishingiz mumkin" />
						</div>					
					</div>
					<div class="box-footer justify-content-center row">
						<button class="btn btn-primary btn-block col" type="submit">Saqlash</button>
						<a th:href="@{/vagons/AllPlanTableUty}" class=" btn btn-danger col " >Ortga</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>

</html>